
.moduletable_categorie
{	
    
	padding: 0px;
	float: left;	
	margin-top: 4px;
	margin-left: 10px;
	
	
}
#button_categoria
{
height: 32px;
width: 32px;
float: left;
cursor: pointer;
font-size: 32px;
border: 0px solid #ddd;
color: rgba(100, 100, 100, 1);
}


.button_categoria_hover
{

text-shadow: 0px 0px 10px rgb(32, 162, 68);

	
}
.button_categoria_click
{
text-shadow: 0px 0px 0px rgb(32, 162, 68);

	
color: rgb(32, 162, 68)!important;
}
.moduletable_categorie h3
{
margin-top: 0px;
color: rgb(32, 162, 68);
font-variant: small-caps;
font-family: 'Spinnaker', sans-serif;
}



#menu_cate
{
padding: 0px;
margin: 0px;
position: fixed;
width: 25%;
height: 100%;
background-color: rgba(255, 255, 255, 1);
top: 41px;
left: 0px;
z-index: 10;
background: rgb(240, 240, 240);
border-bottom: 1px solid rgb(225, 225, 225);
display: none;
box-shadow: -25px 25px 20px -25px rgba(0, 0, 0, 0.5) inset;

}

/*.moduletable_categorie h3
{
font-size: 2vw;
padding: 0px;
margin: 0px;
}
*/
#menu_cate li
{
padding-left: 10px;
}
/*
#menu_cate span
{

	color: rgb(32, 162, 68);
	display: block;
	float: left;
	width: 65%;
	height: 100%;
	font-size: 1vw;
	line-height: 1.7vw;
}

#menu_cate li a
{
	padding: 0px;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgb(189, 189, 189);
}
#menu_cate li a:hover
{
text-shadow: 0px 0px 15px black;
}

#menu_cate img
{
	width: 25%;
	height: 100%;
	margin-right: 3%;
	border-radius: 5%;
	float: left;
	clear: both;
}

#text_categoria
{
	line-height: 26px;
	margin-left: 40px;
	font-variant: small-caps;
	height: 30px;
}*/
@media (max-width: 1024px) {
  .moduletable_categorie
  {
    
  }
  #menu_cate
		{
		width: 90%;
		
		}
  .form-wrapper button
  {
  font-size: 12px;
  }
}