.moduletable_categorie
{	
    
	padding: 0px;
	float: left;	
	margin-top: 4px;
	margin-left: 10px;
}

#button_categoria
{
height: 32px;
width: 32px;
float: left;
cursor: pointer;
font-size: 32px;
border: 0px solid #ddd;
color: rgba(100, 100, 100, 1);
line-height: 32px;

}

.button_categoria_hover
{
text-shadow: 0px 0px 10px rgb(32, 162, 68);	
}

.button_categoria_click
{
text-shadow: 0px 0px 0px rgb(32, 162, 68);
color: rgb(32, 162, 68)!important;
}

#menu_cate
{
padding: 0px;
margin: 0px;
position: fixed;
width: 20%;
height: 100%;
background-color: rgba(255, 255, 255, 1);
top: 70px;
left: 0px;
z-index: 10;
background: rgb(240, 240, 240);
border-bottom: 1px solid rgb(225, 225, 225);
display: none;
box-shadow: -25px 25px 20px -25px rgba(0, 0, 0, 0.5) inset;
background-image: url(https://developer.cdn.mozilla.net/media/redesign/img/header-background.png);
}

#menu_cate li
{

/* color: rgb(32, 162, 68) !important;; */
}
#ombra_lato
{
	
    height: 100%;
    width: 0%;
    position: fixed;
    right: 0px;
    z-index: 100;
}

#menu_cate li a
{
border-bottom: 1px solid rgb(32, 162, 68);
display: inline-block;
width: 100%;
text-decoration: none;
color: rgb(32, 162, 68); 
}
#menu_cate li a:hover
{
background-color:  rgb(32, 162, 68);
box-shadow: -25px 25px 20px -25px rgba(0, 0, 0, 0.5) inset;
color: white !important;
}
#menu_cate li a span
{
padding-top:3px;
padding-left:10px;
display: inline-block;
}
#menu_cate li a:hover
{
 font-weight: bolder; 
}

@media (max-width: 1024px) {
  .moduletable_categorie
  {
    
  }
  #menu_cate
		{
		width: 90%;
		}
  .form-wrapper button
  {
  font-size: 12px;
  }

}




#button_home
{
height: 32px;
width: 32px;
float: left;
cursor: pointer;
font-size: 32px;
border: 0px solid #ddd;
color: rgba(100, 100, 100, 1);
margin-top: 3px;
margin-left: 10px;
line-height: 32px;
}

.button_home_hover
{
text-shadow: 0px 0px 10px rgb(32, 162, 68);	
}