@CHARSET "UTF-8";

#videos{	
	width: 100%;
	float: left; 
}

#videos .video_container{
	display: block;	
	float: left;
	margin: 0.2% 0.2%;
	width: 24.5%;


	position: relative;
	overflow: hidden;
	background: rgb(240, 240, 240);
}


#videos .video{
	display: block;
	width:100%;
	height:100%;
	float: left;
	position: relative;
}
#videos .video:hover{
	
	
}



.videos_bot{
	position: relative;
	background-color: rgba(0, 0, 0, 0.65);
	color: whitesmoke;
	padding: 4px;
}

.videos_time{
	float:right;
}
.video_title
{
color: rgb(39, 150, 255);
color: rgb(32, 162, 68);
font-variant: small-caps;
}

.video_description
{
text-decoration: none;
text-align: justify;
font-family: 'Spinnaker', sans-serif;
display: block;
padding-left: 1%;
padding-right: 1%;
}
.video_description span
{


}
.front > .video_title
{
height: 10%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;	
text-decoration: none;
font-size: 9pt;
font-family: 'Spinnaker', sans-serif;
display: block;

padding-left: 1%;
padding-right: 1%;
overflow: hidden;


}

.back  .video_title
{


}
.back > .video_description
{
font-size: 0.8em;
top: 1%;
left: 0px;
width: 98%;
height: 70%;
background-color: transparent;
color: rgb(100, 100, 100);
overflow: hidden;
padding-bottom: 1%;
line-height: 1.2em;
}
.video_link
{
	height: 90%;
	width: 100%;
	display: block;
	background-size: 100%; 		
	background-repeat: no-repeat;
	background-position: center;
}
.video_link:hover
{

}

.video_title:hover{
text-decoration: underline;

}
    #card {
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform-origin: right center;
         -moz-transform-origin: right center;
           -o-transform-origin: right center;
              transform-origin: right center;
    }
     #card > div {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
           -ms-backface-visibility:hidden;
              backface-visibility: hidden;
      top: 0px;
      left: 0px;
    }

    #card.flipped {
      -webkit-transform: translateX( -100% ) rotateY( -180deg );
         -moz-transform: translateX( -100% ) rotateY( -180deg );
           -o-transform: translateX( -100% ) rotateY( -180deg );
              transform: translateX( -100% ) rotateY( -180deg );
              -ms-transform: translateX( -100% ) rotateY( -180deg );
    }
    #card > .front {

    }

    #card > .back {
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
       
    }
.video_button
{
position: absolute;
z-index: 3;
color: rgb(0, 0, 0);	
}
.flip
{
bottom: 2px;
height: 16px;
width: 16px;
border-radius: 8px;
left: 0px;
background-image: url(../../../../media/jui/img/glyphicons-halflings.png);
background-position: -119px 66px;
}
.flip_n
{
bottom: 3%;
height: 16px;
width: 11px;
border: 1px solid rgba(200, 200, 200, 0.6);
border-radius: 8px;
left: 3%;
cursor: help;
background-color: rgba(240, 240, 240, 0.75);
font-size: 80%;
font-family: 'Spinnaker', sans-serif;
text-align: right;
padding-right: 5px;
cursor: pointer;
}
.flip_n span
{

}
.time_n
{
bottom: 3%;
height: 16px;
width: 74px;
border: 1px solid rgba(200, 200, 200, 0.6);
border-radius: 8px;
right: 3%;
background-position: -119px 64px;
background-color: rgba(240, 240, 240, 0.75);
font-size: 80%;
font-family: 'Spinnaker', sans-serif;
padding-left: 5px;
}
.time
{
bottom: 0px;
height: 16px;
width: 16px;
border: 0px;
border-radius: 8px;
right: 0px;
background-image: url(../../../../media/jui/img/glyphicons-halflings.png);
background-position: -47px -23px;

}
.play
{
background-image: url(../../../../media/jui/img/glyphicons-halflings-big-grey.png);
top: 50%;
left: 50%;
height: 40px;
width: 40px;
margin-left: -24px;
margin-top: -24px;
display: block;
border-radius: 24px;
background-color: rgba(240, 240, 240, 0.6);
background-position: -498px -769px;
border: 2px solid rgba(0, 0, 0, 0.5);
}

.play_link
{
bottom: 3%;
height: 16px;
width: 45px;
border: 1px solid rgba(200, 200, 200, 0.6);
border-radius: 8px;
left: 50%;
cursor: pointer;
background-color: rgba(240, 240, 240, 0.75);
font-size: 80%;
font-family: 'Spinnaker', sans-serif;
padding-left: 5px;
display: block;
margin-left: -45px;
}
.link_mini
{

}
.link_mini_cate
{
margin-left: 12%;
font-variant: small-caps;
}
.play_icon
{
bottom: 0px;
height: 16px;
width: 16px;
border: 0px;
border-radius: 8px;
right: 0px;
background-image: url(../../../../media/jui/img/glyphicons-halflings.png);
background-position: -192px -23px;
}
.cate_link
{
top: 12%;
height: 16px;
width: 100px;
border: 1px solid rgba(200, 200, 200, 0.6);
border-radius: 8px;
left: 3%;
cursor: pointer;
background-color: rgba(240, 240, 240, 1);
font-size: 80%;
font-family: 'Spinnaker', sans-serif;
padding-left: 5px;
display: block;
}
.cate_icon
{
bottom: 0px;
height: 16px;
width: 16px;
border: 0px;
left: 2%;
background-image: url(../../../../media/jui/img/glyphicons-halflings.png);
background-position: -263px 0px;
}
.video_data
{
bottom: 23%;
left: 0%;	
font-size: 60%;
font-family: 'Spinnaker', sans-serif;
padding-left: 1%;
padding-right: 1%;
}
.video_like
{
bottom: 23%;
right:0%;
font-size: 60%;
font-family: 'Spinnaker', sans-serif;
padding-left: 1%;
padding-right: 1%;	
}
.img_like
{
height: 13px;
width: 14px;
border: 0px;
background-image: url(../../../../media/jui/img/glyphicons-halflings.png);
background-position: -96px 15px;
display: inline-block;	
}
.img_dislike
{
height: 13px;
width: 14px;
border: 0px;
background-image: url(../../../../media/jui/img/glyphicons-halflings.png);
background-position: -120px 15px;
display: inline-block;		
}
.video_visualizzazioni
{
bottom: 16%;
right: 0%;
font-size: 60%;
font-family: 'Spinnaker', sans-serif;
padding-left: 1%;
padding-right: 1%;	
}
.video_rating
{
bottom: 16%;
left: 0%;
font-size: 60%;
font-family: 'Spinnaker', sans-serif;
padding-left: 1%;
padding-right: 1%;			
}
