@media (min-width: 1200px) and (max-width: 1550px) {
  #videos .video_container{
     
    width:24.5% ;    
    margin: 0.2% 0.2%;
  }

}

@media (min-width: 712px) and (max-width: 1199px) {
  #videos .video_container{
    width:49.4% ;
  }
		  #logo
		  {
		  display: none;
		  }
		  
		  	 .moduletable_menu_principale 
			 [class^="icon-"]:before, 
			 [class*=" icon-"]:before 
			 {
			 margin-left: 30px !important;
			 }

}
@media (max-width: 711px) {
  #videos .video_container{
   width:99.4% ;
   margin: 1.2% 0.2%;
  }
		  #logo
		  {
		  display: none;
		  }
		  .moduletable_menu_principale ul li a {
			font-size: 0px;
			width: 60px;
			height: 25px;
			
		  }
		   .moduletable_menu_principale ul li a:before {
			font-size: 25px;
			line-height: 30px;
			
		  }
			.moduletable_menu_principale 
			 [class^="icon-"]:before, [class*=" icon-"]:before {
			margin-left: 20px !important;
			}
}






.pagination {
			margin: 10px 0;
			width: 100%;
			float: left;
}
.pagination ul {
	/*display: inline-block;*/
	*display: inline;
	*zoom: 1;
	padding: 2px;
	margin: 0px;
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	
	padding-left: 1%;
	padding-right: 1%;
	
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: rgb(240, 240, 240);
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: rgb(225, 225, 225);
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 9.75px;
}
.pager {
	margin: 18px 0;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.pager:before,
.pager:after {
	display: table;
	content: "";
	line-height: 0;
}
.pager:after {
	clear: both;
}
.pager li {
	display: inline;
}
.pager li > a,
.pager li > span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
	text-decoration: none;
	background-color: #f5f5f5;
}
.pager .next > a,
.pager .next > span {
	float: right;
}
.pager .previous > a,
.pager .previous > span {
	float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: #999;
	background-color: #fff;
	cursor: default;
}
a.disabled,
a.disabled:hover {
	color: #999999;
	background-color: transparent;
	cursor: default;
	text-decoration: none;
}
@font-face {
	font-family: 'IcoMoon';
	src: url('../../../media/jui/fonts/icomoon.eot');
	src: url('../../../media/jui/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/icomoon.woff') format('woff'), url('../../../media/jui/fonts/icomoon.ttf') format('truetype'), url('../../../media/jui/fonts/icomoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{ 
	font-family: 'machauer';
 	src: url('../../../media/jui/fonts/machauer.eot'); 
 	src: url('../../../media/jui/fonts/machauer.eot?#iefix') format('embedded-opentype'),
	     url('../../../media/jui/fonts/machauer.woff') format('woff'),
	     url('../../../media/jui/fonts/machauer.ttf') format('truetype'),
	     url('../../../media/jui/fonts/machauer.svg#webfont') format('svg');
 }
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	/*width: 14px;
	height: 14px;
	*margin-right: .3em;*/
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
	font-weight: normal;
}
.icon-next:before,
.icon-forward:before {
	content: "\e70e";
}
.icon-last:before {
	content: "\e710";
}
.icon-previous:before,
.icon-backward:before {
	content: "\e70d";
}
.icon-first:before {
	content: "\e70f";
	
}
.icon-category:before {
	content: "\e757";	
}
.icon-search:before {
	content: "\e67f";
}

.icon-home:before {
	content: "\e606";	
}


.pagination-list li a 
{
	color:rgb(32, 162, 68);
}





 
::-webkit-scrollbar {width: 8px; height:8px; }
	#main-nav,.cat-box-content,#sidebar .widget-container,.post-listing {border-bottom-color: rgb(32, 162, 68);}
	.search-block .search-button,
	#topcontrol,
	#main-nav ul li.current-menu-item a,
	#main-nav ul li.current-menu-item a:hover,
	#main-nav ul li.current-menu-parent a,
	#main-nav ul li.current-menu-parent a:hover,
	#main-nav ul li.current-page-ancestor a,
	#main-nav ul li.current-page-ancestor a:hover,
	.pagination span.current,
	.share-post span.share-text,
	.flex-control-paging li a.flex-active,
	.ei-slider-thumbs li.ei-slider-element,
	.review-percentage .review-item span span,.review-final-score ,
	.woocommerce span.onsale, .woocommerce-page span.onsale ,
	.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle  {
		background-color:rgb(32, 162, 68) !important;
	}
	::-webkit-scrollbar-thumb{background-color:rgb(32, 162, 68) !important;}
	footer#theme-footer, .top-nav, .top-nav ul li.current-menu-item:after,#main-nav ul li.mega-menu .mega-menu-block, #main-nav ul ul {border-top-color: rgb(32, 162, 68);}
	.search-block:after {border-right-color:rgb(32, 162, 68);}
	#main-nav ul > li.parent-list:hover > a:after{border-color:transparent transparent rgb(32, 162, 68);}

.background-cover{
	background-color:#000000 !important;
	background-image : url('') !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='',sizingMethod='scale') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='',sizingMethod='scale')" !important;
}








































