/****************************************************
#####################################################
##-------------------------------------------------##
##         BLASKERN                                ##
##-------------------------------------------------##
## Copyright = globbersthemes.com- 2012            ##
## Date      = MAI 2012                            ##
## Author    = globbers                            ##
## Websites  = http://www.globbersthemes.com       ##
##       VERSION JOOMLA                            ##
#####################################################
****************************************************/

html {
height: 100%;

}

body{
margin:0;
padding:0;
text-align:center;
background:#fff url(../images/bg.jpg) 0 0 repeat ;
font-size:13px;
color:#343434;
font-family: arial, tahoma, sans-serif;
font-weight:bold;

}

/*texte*/

p {
font-size: 100%;

}

h1 {
font-size: 200%;

}

h2 {
font-size: 150%;

}


h3 {
font-size: 125%;

}

h4, h5, h6 {
font-size: 100%;

}

/* liens hypertextes*/ 
a:link, a:visited {
text-decoration:none;
color:#343434;
font-weight:bold;

}

a:hover {
color:#efd02c;

}

ul {
margin:0;
padding-left:20px;

}

li {
list-style-type:disc;
background:transparent;
margin: 4px;

}

img {
border:none;
margin:3px 5px;
padding:0;

}

img .caption {
text-align: left;

}

.highlight{
background:#efd02c;
padding: 0px 2px 0px 2px;
color:#ffffff;
-moz-border-radius: 6px 6px 6px 6px; 
-webkit-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
-webkit-border-top-left-radius: 6px;
/* pour Chrome */  
-webkit-border-top-right-radius: 6px; /* pour Chrome */  
-webkit-border-top-top-radius: 6px; /* pour Chrome */  
-webkit-border-top-bottom-radius: 6px; /* pour Chrome */ 

}

.button {
background:#efd02c;
border:none;
color:#fff;
font-weight:bold;
padding:4px;
-moz-border-radius: 6px 6px 6px 6px; 
-webkit-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
-webkit-border-top-left-radius: 6px;
/* pour Chrome */  
-webkit-border-top-right-radius: 6px; /* pour Chrome */  
-webkit-border-top-top-radius: 6px; /* pour Chrome */  
-webkit-border-top-bottom-radius: 6px; /* pour Chrome */ 

}

.inputbox {
color:#fff;
background:#efd02c;
border:none;
padding:4px;
font-weight:bold;
-moz-border-radius: 6px 6px 6px 6px; 
-webkit-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
-webkit-border-top-left-radius: 6px;
/* pour Chrome */  
-webkit-border-top-right-radius: 6px; /* pour Chrome */  
-webkit-border-top-top-radius: 6px; /* pour Chrome */  
-webkit-border-top-bottom-radius: 6px; /* pour Chrome */ 

}

.pagewidth{
width:910px;
text-align:center;
background:transparent;
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:0px;
position:relative;

}

fieldset {
margin:5px;
padding:5px;
border:none;

}

/*******************/
#header {
float:left;
width:100%;
height:126px;
background:#34373c url(../images/header.jpg) 0 0 repeat ;

}

#sitename {
float:left;
margin:0;

}

#search {
float:left;
width:196px;
height:37px;
background: url(../images/search.png) 0 0 no-repeat;
margin-left:380px;
margin-top:40px;

}

#search .inputbox{
background:none;
color:#fff;
text-align:center;
margin-top:7px;

}

/*******************/
#topmenu {
float:left;
width:100%;
height:80px;
background: url(../images/topmenu.jpg) 0 0 repeat-x;

}

.navigation {
float:left;
width: 765px;
background:transparent; 
margin-top:5px;

}

.navigation ul {
list-style: none;
margin:0;
padding:0;

}

.navigation ul ul {
margin: 0;
padding: 0; 

}

.navigation ul li {
margin:0;
padding: 0;
float: left;
list-style: none;
background: none;
display: block;	

}

.navigation ul li ul {
width: 230px;
position: absolute;
 z-index: 99;
 left: -999em;
 height: auto;
 w\idth: 230px;
 
}
 
.navigation ul li ul ul {
margin: 0;

} 

.navigation ul li li {
padding: 0;
margin: 0;
width: 100%;

}

.navigation ul ul a {
width: 100%;

}

.navigation ul li:hover ul ul,
.navigation ul li:hover ul ul ul,
.navigation ul li.sfhover ul ul,
.navigation ul li.havechildsfhover ul ul,
.navigation ul li.havechild-activesfhover ul ul,
.navigation ul li.activesfhover ul ul,
.navigation ul li.sfhover ul ul ul,
.navigation ul li.havechildsfhover ul ul ul,
.navigation ul li.havechild-activesfhover ul ul ul,
.navigation ul li.activesfhover ul ul ul { 
left: -999em;

}

.navigation ul li:hover ul,
.navigation ul li li:hover ul,
.navigation ul li li li:hover ul,
.navigation ul li.sfhover ul,
.navigation ul li.havechildsfhover ul,
.navigation ul li.havechild-activesfhover ul,
.navigation ul li.activesfhover ul,
.navigation ul li li.sfhover ul,
.navigation ul li li.havesubchildsfhover ul,
.navigation ul li li.havesubchild-activesfhover ul,
.navigation ul li li.activesfhover ul,
.navigation ul li li li.sfhover ul,
.navigation ul li li li.havesubchildsfhover ul,
.navigation ul li li li.havesubchild-activesfhover ul,
.navigation ul li li li.activesfhover ul {
left: auto;	

}

.navigation ul li a {
padding: 22px 16px 0 16px ; 
margin:0;
display: block; 
font-weight: bold;	
font-size:13px;
text-transform:uppercase;
background:transparent;
color:#fff;
text-shadow: 1px 1px 1px #000; 
height:40px; 

}

.navigation ul li a:hover {
color:#fff;
background:#323232;
height:40px;
opacity : 0.7;
-moz-opacity : 0.7;
-ms-filter: "alpha(opacity=70)"; /* IE 8 */
filter : alpha(opacity=70); /* IE < 8 */

}

.navigation ul li {
background: url(../images/bg-li.jpg) 100% 0 repeat-y;


}

.navigation ul li.active a {
color:#fff;
background:#323232;
height:40px;
opacity : 0.7;
-moz-opacity : 0.7;
-ms-filter: "alpha(opacity=70)"; /* IE 8 */
filter : alpha(opacity=70); /* IE < 8 */

} 

.navigation ul li ul {
background:#323232;
margin-top: 0px;
text-align:left !important;
width:200px;
opacity : 0.7;
-moz-opacity : 0.7;
-ms-filter: "alpha(opacity=70)"; /* IE 8 */
filter : alpha(opacity=70); /* IE < 8 */

}

.navigation ul li ul li {
padding-bottom:0px ;
background:none !important;

}

.navigation ul li ul li a{
height:35px !important;
color:#fff !important;
text-align:left !important;
padding-left:20px !important;

}

.navigation ul li ul li a:hover  {
color:#fff !important;
background:#000;
width:163px;

}

.navigation ul li ul li ul {
margin-left:180px;
margin-top: -30px;
padding-bottom: 3px;
padding-top:10px !important;
text-align:left !important;
padding-bottom: 0px;
background:#323232;
opacity : 0.9;
-moz-opacity : 0.9;
-ms-filter: "alpha(opacity=90)"; /* IE 8 */
filter : alpha(opacity=90); /* IE < 8 */

}

/*********************/
#toolitem {
float:left;
width:110px;
height:40px;
background:transparent;
margin-top:15px;

}

/*******************/
#wrapper-slide{
float:left;
width:100%;
height:400px;
background:#34373c url(../images/wrapperslide.jpg) 0 0 repeat;

}

#slide{
float:left;
width:839px;
height:359px;
margin-left:25px;
margin-top:15px;
margin-bottom:0px;
background: url(../images/slide.jpg) 0 0 no-repeat;

}

/* The Nivo Slider styles */
.nivoSlider {
float:left;
	position:relative;
	width: 813px;
	height: 313px;
	margin-left: 15px;
	margin-top: 20px;
	background: url(../images/loading.gif) no-repeat 50% 50%;
	border:3px solid #fff !important;
}

.nivoSlider img {
	position:absolute;
	top:0;
	left:0px;
	display:none;
    width:813px; /* Make sure your images are the same size */
    height:313px; /* Make sure your images are the same size */
	
	
}
.nivoSlider a {
    border:0;
    display:block;
	color: #fff;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}

/* Caption styles */
.nivo-caption {
	position:absolute;
	left: 60px;
	/* right:0px; */
	bottom:30px;
	background:#efd02c;
	color:#222;
	z-index:8;
	width: 300px;
	padding: 20px;
	overflow: hidden;
}
.nivo-caption p {
	padding:0 !important;
	margin:0 !important;
	font-size:15px;
	
}
.nivo-caption a {
	display:inline !important;
	border-bottom: 1px dotted #fff;
}
.nivo-caption a:hover {
	border-bottom-style: solid;
	text-decoration: none;
}
.nivo-html-caption {
    display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:43%;
	z-index:9;
	cursor:pointer;
	text-indent: -10000px;
	background-image: url(../images/direction.png);
	background-repeat: no-repeat;
	height:72px;
	width:45px;
	
}
.nivo-prevNav {
	left:20px;
	background-position: left top;
}
.nivo-nextNav {
	right:20px;
	background-position: -31px top;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
   display:none; 
	
}
.nivo-controlNav a {
   display:none; 
}

/***********************/
#line {
float:left;
width:100%;
height:13px;
background: url(../images/topmenu.jpg) 0 0 repeat-x;

}
/**********************/
#main {
float:left;
width:640px;
margin:15px 0 0 0px;
padding:0 0 25px 0;
background:transparent;
margin-top:0px;
text-align:left;

}

#main-full {
float:left;
width:850px;
margin:15px 0 0 25px;
padding:0 0 25px 0;
background:transparent;
margin-top:0px;
text-align:left;

}

/*************************/
ul.actions  {
background:transparent;
margin:0;

}

ul.actions  li{
list-style:none;
float:right; 

}

.article-info {

}

dt.article-info-term {
display:none;

}

dl.article-info dd{
margin:0;
font-size:12px;
font-style:italic;

}

.items-leading {
width:100%;
font-weight:bold;
padding:0px;

}

.items-row {
width:100%;
font-weight:bold;
padding:0px ;

}

/***titre frontpage*****/
.items-leading h2 {
font-size:20px;
height:30px;
margin-bottom:0px;
font-weight:bold;
text-transform:capitalize;
border-bottom:1px solid #ccc;

} 

.items-row  h2{
font-size:20px;
height:30px;
margin-bottom:0px;
font-weight:bold;
text-transform:capitalize;
border-bottom:1px solid #ccc;

}

/*****separation des articles******/
.item-separator {
height:30px;
width:100%;
display:block;

}

.item-page {
width:100%;
font-weight:bold;
padding:0px 10px 10px 10px;

}

.item-page h2 {
font-size:20px;
height:30px;
margin-bottom:0px;
font-weight:bold;
text-transform:capitalize;
background:transparent;
border-bottom:1px solid #ccc;

} 

.readmore a {
float:right;
font-weight: bold;
padding:5px ;
margin-right:15px;
color:#fff;
margin-top:5px;
font-weight:bold;
background: #efd02c;
border-radius: 6px;

}

.readmore a:hover {
color:#fff;
background:#34373c;

}

div.cols-1 .item {
width: 100%; 

}

/* div.cols-2 .item {
width: 44%;

 }

div.cols-3 .item {
 width:28%;

 }

div.cols-4 .item {
width: 20%;

 }

div.items-row .item {
float: left; 

} 

div.item {
 padding: 0 18px;
 margin-bottom:25px;



 } */

.categories-list {

}

.categories-list li {
list-style:none;

}

.item-title {
font-size:18px;
height:30px;
margin-bottom:0px;
font-weight:bold;
background:transparent;
padding-top:5px;
text-transform:capitalize;

}

ul#archive-items li {

}

/* ++++++++++++++  items more  ++++++++++++++ */
.items-more{
padding-top:10px;

}

 .items-more h3{
font-weight:bold;
margin:0;
padding:5px 5px 5px 5px;
font-size:1.4em

}

 .items-more ol{
line-height:1.3em;
margin:0 0 0 20px;
padding:5px 0 5px 2px;

}

 .items-more ol li{
padding:2px;

}

 .items-more ol li a {
display:inline;
margin:0;
font-weight:bold;
padding:5px 5px 5px 5px;

}

 .items-more ol li a:hover,
 .items-more ol li a:active,
 .items-more ol li a:focus {
font-weight:normal;
padding:5px 5px 5px 5px;
text-decoration:none

} 

/* Pagination ---*/
 .counter {
text-align:center;

}

ul.pagination {
 float: left;
 width: 100%;
 padding:10px 0;
 text-align:center;

}

ul.pagination li {
background: none;
display: inline;
margin: 0;
padding: 6px;
margin:0 3px;
overflow: hidden;

}

ul.pagination li span {
padding: 6px; 
line-height: 20px;

}

ul.pagination a {
background:#34373c;
color: #fff;
line-height: 20px;
padding:6px;
text-decoration: none;
border-radius: 10px;

}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
text-decoration: none;
color:#fff;
background:#efd02c;

} 

/* ++++++++++++++  nav entre article  ++++++++++++++ */
 ul.pagenav {
 position:relative;

}

ul.pagenav li {
 list-style: none;
 padding: 8px;
 background:#34373c;
color:#fff;
border-radius: 10px;

}

ul.pagenav li a{
color:#fff;

}

ul.pagenav li:hover, ul.pagenav li:focus {
background:#efd02c;
color:#fff;
padding: 8px;

}

ul.pagenav li.pagenav-prev {
float: left;

}

ul.pagenav li.pagenav-next { 
float:right;

}

/******************/
#colonne {
float:left;
width:220px;
background:transparent;
margin-bottom:20px;

}

#right {
float:left;
width:220px;
text-align:left;
padding-left:20px;
margin-bottom:0px;
margin-left:30px;
margin-top:30px;


}

#right h3 {
background: transparent;
margin-bottom:15px;
margin-top:0;
padding-top:10px;
text-transform:capitalize;
font-size:18px;
color:#444;

}

#right ul {
padding-left:20px;

}

#right .moduletable_menu,
#right .moduletable {
 margin-bottom:30px;
padding-left:15px;
padding-bottom:20px;
border-left:1px solid #ccc;
 background: url(../images/right.jpg) 0 0 repeat;
}

/* ++++++++++++++  tabs/ slide  ++++++++++++++ */

.modulebox1 {
float:left;
width:220px;
 height:auto !important;
margin-left:50px;
margin-top:0px;
 padding:0 0 15px 0;
  background: url(../images/right.jpg) 0 0 repeat;
 text-align:left;

}

.sepbottom {
background: transparent;
height:20px;
margin-top:0px;

}

.sepbottom2 {
background:transparent;
height:22px;
margin-left:12px;
margin-right:20px;
margin-bottom:0px;
margin-top:-20px;


}

.tabcontent {
padding:0;
 margin:-10px 0 0 0;
 background:transparent;

}

.tabcontent img {
padding:0 10px 10px 10px  ;
 
}

.tabopen {
display:block;
margin-bottom:0px;
overflow:hidden;

}

.tabclosed {
 display:none;
 
}

a.linkclosed,a.linkopen {
font-size:12px !important;
margin-left:3px !important;
margin-right:0 !important;
margin-top:0 !important;
padding:9px !important; 
background:#1b1c1f;

}

ul.tabs {
overflow:hidden;
padding:0 0 0px 0 !important;
margin:0 !important;
text-decoration:none;
 
}

ul.tabs li {
list-style-type:none;
float:left;
width:auto;
padding:0 0 10px 0;
display:block;
margin:0 ;
font-size:1em;
text-decoration:none;
background: transparent ;

}

ul.tabs li a:link,
ul.tabs li a:visited {
text-decoration:none;
padding:7px 5px 0 5px;
margin:0px ;
display:block;
font-size:0.9em;
font-weight:blold;
color:#fff;

}

ul.tabs li a.linkopen:link,
ul.tabs li a.linkopen:visited {
text-decoration:none !important;
color:#fce14c !important;

}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a:focus{
text-decoration:none;
color:#fce14c !important;

}

 a.linkopen {
color:#fff !important;

}

.tabcontent:focus{
outline:none;

}

.tabcontent ul{
padding:0 0 0 15px;

}

.tabcontent ul li {
margin-left:15px;

}
        
.tabouter { 
width:220px;
margin:5px 0 0 0 ;
background:transparent;


}

/***********************/
#ft {
float:left;
width:100%;
height:58px;
background: url(../images/topmenu.jpg) 0 0 repeat-x;

}

.ftb {
margin-top:25px;
text-align:center;
font-weight:bold;
font-size:13px;
width:800px;
float:left;
color:#fff;

}

 .ftb a, .ftb a:visited{
padding:0 !important;
border:none !important;
color:#fff;

} 

.ftb a:hover {
color:#fff;

} 

#top {
float:left;
width:30px;
height:30px;
margin-top:9px;
padding:0 !important;
border:none !important;
background:transparent;

}

.top_button {
padding:0 !important;
border:none !important;

}

